header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 24px;
    background-color: #000;
    color: white;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    margin: 0px;
    display: inline-block;
}

.logo-link img {
    width: 200px;
    vertical-align: middle;
}